body>section{
    margin-top: 70px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 1px #000000;

}
section>div:nth-child(1){
    z-index: -1;
    top: 70px;
    width: 1000px;
    height: 450px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: sticky;
    border: #40ac9a9a 1px solid;    
}
section>div:nth-child(1) img{
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
}
section>div:nth-child(1)>button{
    margin: 0 8% 4% 0;
    width: 100px;
    height: 20px;
}
section>div:nth-child(1)>div{
    right: 60%;
    bottom: 5%;
    width: 165px;
    height: 190px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    border: #40a39367 3px solid;
}
section>div:nth-child(1) div button{
    margin: 0 6% 3% 0;
    width: 65px;
    height: 20px;
    font-size: 7pt;
}
section>div:nth-child(1)>div img{
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
}
section>div:nth-child(2){
    margin:  0px 30px 0px 30px;
    width: 1000px;
    padding-top: 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    background-color: #d9eafc;
    border: #40ac9a9a 1px solid;
    text-shadow: 1px 1px 1px #083d4b;
}
.dadosong{
    height: 85vh;
    width: 75%;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px; 
    align-items: center;
    padding: 5px;
    
}
/* .dadosong div:nth-child(1){ */


.btn {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 5px;
    transition: all .5s;
    margin-left: 15px;
}

.btn_grey {
    background-color: #ccc;
    color: #4a4a4a;
}

.btn_purple {
    background-color:  #5aaca6;
    color: white;
}

.btn_grey:hover {
    background-color: #999;
    color: white;
}

.btn_purple:hover {
    background-color: #1e0f61;
}

.sectionHeader {
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 978px;
    margin: 70px auto 0 auto;
    background-color: #5aaca6;
}
.sectionHeader>img{
    width: 1000px;
    height: 300px;
    border: #5aaca6 solid 1px;
}
.sectionHeader div>img {
    width: 29%;
    height: 30%;
    border: #5aaca6 solid 1px;
}
.sectionHeader>div {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.sectionHeader div>div>div{
    width: 70%;
    display: flex;
    justify-content: space-around;
    color: white;
    background: #5aaca6;
    cursor: pointer;
}
.sectionHeader div>div>div>div {
    border-right: 1px solid white;
    width: 25%;
}
.sectionHeader div>div>div {
    width: 100%;
}
.sectionHeader div>div>div>img {
    width: 33%;
    height: 235px;
}
.sectionBody {
    width: 1000px;
    margin: 0 auto;
    background-color: #5aaca6;
}
.sectionBody h1 {
    margin: 0;
    color: white;
    padding: 10px 20px;
}